<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwy.property.dao.IPropertyDao">
  <resultMap type="com.zwy.property.model.Property" id="propertyResultMap" extends="BaseBusLongModel.model">
    <!-- 物业名称 -->
    <result property="name" column="C_NAME" />
    <!-- 法人代表 -->
    <result property="legalPerson" column="C_LEGAL_PERSON" />
    <!-- 资质等级 -->
    <result property="level" column="C_LEVEL" />
    <!-- 资质证书号 -->
    <result property="cardNo" column="C_CARD_NO" />
    <!-- 准予时间 -->
    <result property="grantTime" column="C_GRANT_TIME" />
    <!-- 联系人 -->
    <result property="contactName" column="C_CONTACT_NAME" />
    <!-- 电话 -->
    <result property="tel" column="C_TEL" />
    <!-- 托管面积 -->
    <result property="area" column="C_AREA" />
    <!-- 状态：0-审核中、1-审核通过、2-审核不通过 -->
    <result property="status" column="C_STATUS" />
    <!-- 平台占比 -->
    <result property="platformPercent" column="C_PLATFORM_PERCENT" />
    <!-- 物业占比 -->
    <result property="propertyPercent" column="C_PROPERTY_PERCENT" />
    <!-- 会员占比 -->
    <result property="memberPercent" column="C_MEMBER_PERCENT" />
  </resultMap>

  <sql id="allColumnSql">
    o.ID,
    o.C_NAME,
    o.C_LEGAL_PERSON,
    o.C_LEVEL,
    o.C_CARD_NO,
    o.C_GRANT_TIME,
    o.C_CONTACT_NAME,
    o.C_TEL,
    o.C_AREA,
    o.C_STATUS,
    o.C_PLATFORM_PERCENT,
    o.C_PROPERTY_PERCENT,
    o.C_MEMBER_PERCENT
  </sql>

  <sql id="searchConditionSql">
	  <if test="item.name != null and item.name != ''">
        AND o.C_NAME like CONCAT('%',#{item.name},'%')
	  </if>
  </sql>

  <select id="listPropertyAll" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    <where>
      <if test="user.roleName != '平台管理员'">
        o.ID = ${user.propertyId}
      </if>
    </where>
  </select>

  <select id="listPropertyByPage" resultMap="propertyResultMap">
    SELECT DISTINCT <include refid="allColumnSql"/>
    FROM property o
    WHERE 1=1 <include refid="searchConditionSql"/>
    <if test="user.roleName != '平台管理员'">
      AND o.ID = ${user.propertyId}
    </if>
    ORDER BY o.C_STATUS
  </select>

  <select id="getPropertyById" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    WHERE o.ID = #{id}
  </select>

  <select id="getPropertyByName" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    WHERE o.C_NAME = #{name}
  </select>

  <insert id="add" parameterType="com.zwy.property.model.Property" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    INSERT INTO property
    (
    C_NAME,
    C_LEGAL_PERSON,
    C_LEVEL,
    C_CARD_NO,
    C_GRANT_TIME,
    C_CONTACT_NAME,
    C_TEL,
    C_AREA,
    C_STATUS,
    C_PLATFORM_PERCENT,
    C_PROPERTY_PERCENT,
    C_MEMBER_PERCENT
    )
    VALUES
    (
     #{name},
     #{legalPerson},
     #{level},
     #{cardNo},
     #{grantTime},
     #{contactName},
     #{tel},
     #{area},
     #{status},
     #{platformPercent},
     #{propertyPercent},
     #{memberPercent}
    )
  </insert>

  <update id="update" parameterType="com.zwy.property.model.Property">
    UPDATE property SET
    C_NAME = #{name},
    C_LEGAL_PERSON = #{legalPerson},
    C_LEVEL = #{level},
    C_CARD_NO = #{cardNo},
    C_GRANT_TIME = #{grantTime},
    C_CONTACT_NAME = #{contactName},
    C_TEL = #{tel},
    C_AREA = #{area},
    C_STATUS = #{status},
    C_PLATFORM_PERCENT = #{platformPercent},
    C_PROPERTY_PERCENT = #{propertyPercent},
    C_MEMBER_PERCENT = #{memberPercent}
    WHERE ID = #{id}
  </update>

  <delete id="delByIds">
    DELETE FROM property
    WHERE ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>