<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwy.property.dao.IPropertyDao">
  <resultMap type="com.zwy.property.model.Property" id="propertyResultMap" extends="BaseBusLongModel.model">
    <!-- 物业名称 -->
    <result property="name" column="C_NAME" />
    <!-- 状态：0-审核中、1-审核通过、2-审核不通过 -->
    <result property="status" column="C_STATUS" />
    <!-- 图片路径 -->
    <result property="path" column="C_PATH" />
    <!-- 平台占比 -->
    <result property="platformPercent" column="C_PLATFORM_PERCENT" />
    <!-- 物业占比 -->
    <result property="propertyPercent" column="C_PROPERTY_PERCENT" />
    <!-- 会员占比 -->
    <result property="memberPercent" column="C_MEMBER_PERCENT" />
  </resultMap>

  <sql id="allColumnSql">
    o.ID,
    o.C_NAME,
    o.C_STATUS,
    o.C_PATH,
    o.C_PLATFORM_PERCENT,
    o.C_PROPERTY_PERCENT,
    o.C_MEMBER_PERCENT
  </sql>

  <sql id="searchConditionSql">
	  <if test="item.name != null and item.name != ''">
        AND o.C_NAME like CONCAT('%',#{item.name},'%')
	  </if>
  </sql>

  <select id="listPropertyAll" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    <where>
      <if test="user.roleName != '平台管理员'">
        o.ID = ${user.propertyId}
      </if>
    </where>
  </select>

  <select id="listPropertyByPage" resultMap="propertyResultMap">
    SELECT DISTINCT <include refid="allColumnSql"/>
    FROM property o
    WHERE 1=1 <include refid="searchConditionSql"/>
    <if test="user.roleName != '平台管理员'">
      AND o.ID = ${user.propertyId}
    </if>
    ORDER BY o.C_STATUS
  </select>

  <select id="getPropertyById" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    WHERE o.ID = #{id}
  </select>

  <select id="getPropertyByName" resultMap="propertyResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM property o
    WHERE o.C_NAME = #{name}
  </select>

  <insert id="add" parameterType="com.zwy.property.model.Property" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    INSERT INTO property
    (
    C_NAME,
    C_STATUS,
    C_PATH,
    C_PLATFORM_PERCENT,
    C_PROPERTY_PERCENT,
    C_MEMBER_PERCENT
    )
    VALUES
    (
     #{name},
     #{status},
     #{path},
     #{platformPercent},
     #{propertyPercent},
     #{memberPercent}
    )
  </insert>

  <update id="update" parameterType="com.zwy.property.model.Property">
    UPDATE property SET
    C_NAME = #{name},
    C_STATUS = #{status},
    C_PATH = #{path},
    C_PLATFORM_PERCENT = #{platformPercent},
    C_PROPERTY_PERCENT = #{propertyPercent},
    C_MEMBER_PERCENT = #{memberPercent}
    WHERE ID = #{id}
  </update>

  <delete id="delByIds">
    DELETE FROM property
    WHERE ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>