<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwy.user.dao.IUserDao">
  <resultMap type="com.zwy.user.model.User" id="userResultMap" extends="BaseBusLongModel.model" >
    <!-- 账号 -->
    <result property="account" column="C_ACCOUNT" />
    <!-- 密码 -->
    <result property="password" column="C_PASSWORD" />
    <!-- 名称 -->
    <result property="name" column="C_NAME" />
    <!-- 联系电话 -->
    <result property="tel" column="C_TEL" />
    <!-- 角色ID -->
    <result property="roleId" column="C_ROLE_ID" />
    <!-- 角色名称 -->
    <result property="roleName" column="roleName" />
    <!-- 物业ID -->
    <result property="propertyId" column="C_PROPERTY_ID" />
    <!-- 物业名称 -->
    <result property="propertyName" column="propertyName" />
    <!-- 物业审核状态 -->
    <result property="propertyStatus" column="propertyStatus" />
  </resultMap>

  <sql id="allColumnSql">
    o.ID,
    o.C_ACCOUNT,
    o.C_PASSWORD,
    o.C_NAME,
    o.C_TEL,
    o.C_ROLE_ID,
    o.C_PROPERTY_ID,
    ur.C_NAME AS roleName,
    p.C_NAME AS propertyName,
    p.C_STATUS AS propertyStatus
  </sql>

  <sql id="searchConditionSql">

  </sql>

  <select id="listUserByPage" resultMap="userResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM auth_user o
    LEFT JOIN user_role ur ON o.C_ROLE_ID = ur.ID
    LEFT JOIN property p ON o.C_PROPERTY_ID = p.ID
    WHERE 1=1
  </select>

  <select id="getUserByUser" resultMap="userResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM auth_user o
    LEFT JOIN user_role ur ON o.C_ROLE_ID = ur.ID
    LEFT JOIN property p ON o.C_PROPERTY_ID = p.ID
    WHERE o.C_ACCOUNT = #{account} AND o.C_PASSWORD = #{password}
  </select>

  <select id="getUserById" resultMap="userResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM auth_user o
    LEFT JOIN user_role ur ON o.C_ROLE_ID = ur.ID
    LEFT JOIN property p ON o.C_PROPERTY_ID = p.ID
    WHERE o.ID = #{userId}
  </select>

  <select id="getUserByAccout" resultMap="userResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM auth_user o
    LEFT JOIN user_role ur ON o.C_ROLE_ID = ur.ID
    LEFT JOIN property p ON o.C_PROPERTY_ID = p.ID
    WHERE o.C_ACCOUNT = #{account}
  </select>

  <insert id="add" parameterType="com.zwy.user.model.User" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    INSERT INTO auth_user
    (
    C_ACCOUNT,
    C_PASSWORD,
    C_NAME,
    C_TEL,
    C_ROLE_ID,
    C_PROPERTY_ID
    )
    VALUES
    (
     #{account},
     #{password},
     #{name},
     #{tel},
     #{roleId},
     #{propertyId}
    )
  </insert>

  <update id="update" parameterType="com.zwy.user.model.User">
    UPDATE auth_user SET
    C_ACCOUNT = #{account},
    C_PASSWORD = #{password},
    C_NAME = #{name},
    C_TEL = #{tel},
    C_ROLE_ID = #{roleId},
    C_PROPERTY_ID = #{propertyId}
    WHERE ID = #{id}
  </update>

  <delete id="delByIds">
    DELETE FROM auth_user
    WHERE ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>