<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwy.space.dao.ISpaceDao">
  <resultMap type="com.zwy.space.model.Space" id="parkingSpaceResultMap" extends="BaseBusLongModel.model">
    <!-- 所属小区ID -->
    <result property="communityId" column="C_COMMUNITY_ID" />
    <!-- 车位使用状态：0-暂停租用、1-空闲、2-使用中 -->
    <result property="useStatus" column="C_USE_STATUS" />
    <!-- 车位审核状态：0-审核中、1-审核通过、2审核未通过 -->
    <result property="checkStatus" column="C_CHECK_STATUS" />
    <!-- 停车单价/每小时 -->
    <result property="price" column="C_PRICE" />
    <!-- 费用占比 -->
    <result property="percent" column="C_PERCENT" />
    <!-- 车位编号 -->
    <result property="no" column="C_NO" />
    
  </resultMap>

  <sql id="allColumnSql">
    o.ID,
    o.C_COMMUNITY_ID,
    o.C_USE_STATUS,
    o.C_CHECK_STATUS,
    o.C_PRICE,
    o.C_PERCENT,
    o.C_NO
  </sql>

  <sql id="searchConditionSql">
  </sql>

  <select id="listParkingSpaceAll" resultMap="parkingSpaceResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM parking_space o
  </select>

  <select id="listSpaceByPage" resultMap="parkingSpaceResultMap">
    SELECT  <include refid="allColumnSql"/>
    FROM parking_space o
    WHERE 1=1 <include refid="searchConditionSql"/>
  </select>

  <select id="getParkingSpaceById" resultMap="parkingSpaceResultMap">
    SELECT <include refid="allColumnSql"/>
    FROM parking_space o
    WHERE o.ID = #{id}
  </select>

  <insert id="add" parameterType="com.zwy.space.model.Space" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    INSERT INTO parking_space
    (
    C_COMMUNITY_ID,
    C_USE_STATUS,
    C_CHECK_STATUS,
    C_PRICE,
    C_PERCENT,
    C_NO
    )
    VALUES
    (
     #{communityId},
     #{useStatus},
     #{checkStatus},
     #{price},
     #{percent},
     #{no}
    )
  </insert>

  <update id="update" parameterType="com.zwy.space.model.Space">
    UPDATE parking_space SET
    C_COMMUNITY_ID = #{communityId},
    C_USE_STATUS = #{useStatus},
    C_CHECK_STATUS = #{checkStatus},
    C_PRICE = #{price},
    C_PERCENT = #{percet},
    C_NO = #{no}
    WHERE ID = #{id}
  </update>

  <delete id="delByIds">
    DELETE FROM parking_space
    WHERE ID IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>